## macOS
.DS_Store

## Xcode
xcuserdata/
*.xcuserstate
DerivedData/
build/
*.xcworkspace/xcuserdata
*.xcodeproj/xcuserdata
*.xcodeproj/project.xcworkspace/xcuserdata

## SwiftPM
.swiftpm/
.build/
Package.resolved

## Generated
CozyFox.xcodeproj

## Secrets
*.local
secrets.plist
.env
